In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sanderfotodata_preprocessing.csv', header=None)
df.head()

       0     1    2   3              4      5
0    NaN   NaN  292  69  1558352102942  1;;;;
1  292.0  69.0  300  56  1558352102949  1;;;;
2  300.0  56.0  312  42  1558352102956  1;;;;
3  312.0  42.0  326  24  1558352102964  1;;;;
4  326.0  24.0  342   3  1558352102971  1;;;;

In [3]:
df = df.dropna()
df.head()

       0     1    2   3              4      5
1  292.0  69.0  300  56  1558352102949  1;;;;
2  300.0  56.0  312  42  1558352102956  1;;;;
3  312.0  42.0  326  24  1558352102964  1;;;;
4  326.0  24.0  342   3  1558352102971  1;;;;
5  342.0   3.0  360 -19  1558352102978  1;;;;

In [4]:
df3 = df[(df[2] >= 1477) & (df[2] <= 1686)]
df3.head()

         0     1     2   3              4      5
41  1446.0 -21.0  1501 -17  1558352103612  1;;;;
42  1501.0 -17.0  1551 -14  1558352103619  1;;;;
43  1551.0 -14.0  1604  -9  1558352103626  1;;;;
44  1604.0  -9.0  1647  -6  1558352103633  1;;;;
45  1647.0  -6.0  1683  -6  1558352103640  1;;;;

In [5]:
df4 = df3[(df[3] >= 728) & (df3[3] <= 939)] 
df4.head()

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

           0      1     2    3              4      5
389   1706.0  891.0  1671  931  1558352117711  1;;;;
1228  1656.0  940.0  1653  935  1558352138570  1;;;;
1229  1653.0  935.0  1650  932  1558352138573  1;;;;
1230  1650.0  932.0  1649  930  1558352138575  1;;;;
1231  1649.0  930.0  1647  928  1558352138580  1;;;;

In [6]:
df5 = df4[(df[5] == '2;;;;')]
df5

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

            0      1     2    3              4      5
4322   1669.0  775.0  1669  775  1558352210783  2;;;;
7119   1541.0  768.0  1541  768  1558352276571  2;;;;
8706   1674.0  841.0  1674  841  1558352299898  2;;;;
10084  1628.0  889.0  1628  889  1558352377305  2;;;;

In [7]:
#Een tijdsframe van afgerond 1 seconde / 1000 milliseconde
opening1 = df.iloc[4233:4322]
opening2 = df.iloc[7029:7119]
opening3 = df.iloc[8615:8706]
opening4 = df.iloc[9993:10084]

In [8]:
average_difference1 = (opening1[4][4322] - opening1[4][4234])/ 89
average_difference1

11.224719101123595

In [9]:
average_difference2 = (opening2[4][7119] - opening2[4][7030])/ 90
average_difference2

11.077777777777778

In [10]:
average_difference3 = (opening3[4][8706] - opening3[4][8616])/ 91
average_difference3

10.989010989010989

In [11]:
average_difference4 = (opening4[4][10084] - opening4[4][9994])/ 91
average_difference4

10.989010989010989

In [12]:
average_difference_x1 = abs(opening1[0].diff().mean())
average_difference_x1

0.29545454545454547

In [13]:
average_difference_x2 = abs(opening2[0].diff().mean())
average_difference_x2

0.14606741573033707

In [14]:
average_difference_x3 = abs(opening3[0].diff().mean())
average_difference_x3

0.011111111111111112

In [15]:
average_difference_x4 = abs(opening4[0].diff().mean())
average_difference_x4

0.8444444444444444

In [16]:
average_difference_y1 = abs(opening1[1].diff().mean())
average_difference_y1

0.6704545454545454

In [17]:
average_difference_y2 = abs(opening2[1].diff().mean())
average_difference_y2

1.7303370786516854

In [18]:
average_difference_y3 = abs(opening3[1].diff().mean())
average_difference_y3

0.34444444444444444

In [19]:
average_difference_y4 = abs(opening4[1].diff().mean())
average_difference_y4

0.35555555555555557

In [20]:
average_y = (average_difference_y1 + average_difference_y2 + average_difference_y3 + average_difference_y4)/4
average_y

0.7751979060265577

In [21]:
average_x = (average_difference_x1 + average_difference_x2 + average_difference_x3 + average_difference_x4)/4
average_x

0.3242693791851095

In [22]:
average_difference = (average_difference1 + average_difference2 + average_difference3 + average_difference4)/4
average_difference

11.070129714230838

In [23]:
opening1[0].diff().value_counts()

 0.0    23
-1.0    21
-2.0    12
 2.0     8
 1.0     8
-4.0     5
-3.0     4
 3.0     3
 5.0     2
 4.0     2
Name: 0, dtype: int64

In [24]:
opening1[1].diff().value_counts()

-1.0    38
 0.0    29
-2.0    10
 1.0     8
-3.0     3
Name: 1, dtype: int64

In [25]:
opening2[1].diff().value_counts()

-4.0     11
-3.0      7
 2.0      6
-1.0      5
-5.0      5
-9.0      5
-6.0      5
 4.0      5
 6.0      4
 3.0      4
 0.0      4
-10.0     3
-7.0      3
 7.0      3
 5.0      3
 1.0      2
-12.0     2
-14.0     2
-8.0      2
 9.0      2
 11.0     1
-2.0      1
-13.0     1
 12.0     1
 14.0     1
-11.0     1
Name: 1, dtype: int64

In [26]:
opening2[0].diff().value_counts()

 1.0     16
 0.0     13
 2.0      7
 4.0      7
-4.0      7
-3.0      6
-2.0      5
 3.0      5
-5.0      4
-1.0      4
 5.0      3
 6.0      3
 7.0      3
-6.0      1
-10.0     1
 8.0      1
-8.0      1
-11.0     1
-7.0      1
Name: 0, dtype: int64

In [27]:
opening3[1].diff().value_counts()

 0.0    38
-1.0    24
 1.0    16
-2.0     8
-3.0     3
 2.0     1
Name: 1, dtype: int64

In [28]:
opening3[0].diff().value_counts()

-1.0    25
 0.0    23
-2.0    15
 1.0    11
 3.0     7
 2.0     7
 4.0     2
Name: 0, dtype: int64

In [29]:
opening4[0].diff().value_counts()

 3.0     9
 7.0     6
 4.0     6
-9.0     6
 5.0     5
 8.0     5
 2.0     5
-10.0    5
 1.0     4
 10.0    4
 6.0     4
-1.0     3
-4.0     3
-6.0     3
-7.0     3
-5.0     3
-2.0     2
 9.0     2
-12.0    2
 12.0    2
 0.0     2
-8.0     2
-11.0    1
 14.0    1
 15.0    1
-3.0     1
Name: 0, dtype: int64

In [30]:
opening4[1].diff().value_counts()

 1.0     13
 0.0     13
 3.0     10
-3.0      9
-2.0      8
 2.0      7
-1.0      6
 4.0      3
 6.0      3
-4.0      3
 5.0      3
 8.0      2
-6.0      2
-8.0      2
 10.0     2
-5.0      1
-10.0     1
 7.0      1
-9.0      1
Name: 1, dtype: int64

In [31]:
opening1[4].diff().value_counts()

11.0    45
12.0    20
10.0    14
1.0      2
13.0     2
33.0     1
6.0      1
2.0      1
35.0     1
20.0     1
Name: 4, dtype: int64

In [32]:
opening2[4].diff().value_counts()

11.0    31
12.0    24
10.0    20
13.0     5
9.0      4
21.0     1
1.0      1
4.0      1
2.0      1
39.0     1
Name: 4, dtype: int64

In [33]:
opening3[4].diff().value_counts()

11.0    42
12.0    26
10.0    16
2.0      2
13.0     1
4.0      1
36.0     1
9.0      1
Name: 4, dtype: int64

In [34]:
opening4[4].diff().value_counts()

11.0    36
12.0    22
10.0    20
13.0     6
9.0      2
5.0      1
3.0      1
2.0      1
34.0     1
Name: 4, dtype: int64